.container-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 250px; 
    padding-left: 150px;
    height: 60vh;
    font-family: Arial, sans-serif;
  }

  .title-style {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }